@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	body {
		@apply font-japanese text-xl leading-relaxed text-gray-dark break-words;
		background: linear-gradient(rgba(229, 233, 240, 0.5), #fff) no-repeat;
		background-size: 100% 600px;
	}

	.prose-content {
		@apply text-base leading-relaxed;
	}

	main {
		@apply max-w-main mx-auto px-4 py-12;
		max-width: calc(100% - 2em);
	}

	h1, h2, h3, h4, h5, h6 {
		@apply mb-2 text-black leading-tight;
	}

	a {
		@apply text-accent hover:text-accent;
	}

	p {
		@apply mb-4;
	}


	textarea {
		@apply w-full text-base;
	}

	input {
		@apply text-base;
	}

	table {
		@apply w-full;
	}

	img {
		@apply max-w-full h-auto rounded-lg;
	}

	code {
		@apply px-1 py-0.5 bg-gray-light rounded font-mono;
	}

	pre {
		@apply p-6 rounded-lg font-mono;
	}

	pre > code {
		all: unset;
	}

	blockquote {
		@apply border-l-4 border-accent pl-5 m-0 text-xl;
	}

	hr {
		@apply border-0 border-t border-gray-light;
	}

	@media (max-width: 720px) {
		body {
			@apply text-lg;
		}

		main {
			@apply p-4;
		}
	}
}
