---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="簡単な挨拶とサイト概要"
>
	<div class="max-w-2xl">
		<div class="text-base">
			<p class="mb-4">
				渡邉佑と申します。
			</p>
			<p class="mb-4">
				東京でソフトウェアエンジニアとして働いています。
			</p>
			<p class="mb-4">
				このサイトでは、技術的な学びや経験を共有していきたいと思います。
			</p>
			<ul class="link-list">
				<li class="mb-2">
					<a
						href="https://x.com/tasuku_web"
						target="_blank"
						rel="noopener noreferrer"
						class="text-blue-600 hover:text-blue-800 underline"
					>
						X
					</a>
				</li>
				<li class="mb-2">
					<a
						href="https://qiita.com/tasukuwatanabe"
						target="_blank"
						rel="noopener noreferrer"
						class="text-blue-600 hover:text-blue-800 underline"
					>
						Qiita
					</a>
				</li>
			</ul>
		</div>
	</div>
</Layout>
